<header>
  <nav class="navbar fixed-top  navbar-expand-md py-0  navbar-custom">
    <div class="container">
      <a class="navbar-brand" (click)="goHome()">
        <img [src]="assetsDir + '/logo-text.png' " height="30">
      </a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

        </ul>

        <form #f="ngForm" (ngSubmit)="searchPosts(f); f.reset();" class="form-inline mt-1 mt-md-0 ml-3">
          <div class="input-group">
            <span class="input-group-addon  border-right-0 form-icon-custom"><i class="fa fa-search text-white"></i></span>
            <input class="form-control form-control-custom border-left-0" required [(ngModel)]="search" name="keyword" style="width: 300px">

          </div>

          <a routerLink="/login" class="nav-link text-white">
            <img [src]="userProfilePicture" [class]="userProfilePictureClass" height="30">
          </a>
          <a [href]="shopifyStore" target="_blank" class="nav-link text-white rotated" >
              <img [src]="assetsDir + '/shop-icon.png' " height="30">
          </a>
        </form>
      </div>
    </div>
  </nav>

</header>
