.links-account {
  font-size: 0.7rem;
}

.box-premium {
  -webkit-box-shadow: 8px 8px 7px 0px rgba(226,226,226,0.6);
  -moz-box-shadow: 8px 8px 7px 0px rgba(226,226,226,0.6);
  box-shadow: 8px 8px 7px 0px rgba(226,226,226,0.6);
}

.box-free {
  background-color: #F3F3F3 ;
}

.terms {
  font-size: 0.6rem;
}
